.projects {
  background-color: #efebeb;
}

.projects_grid {
  display: flex;
  width: 100%;
  margin-top: 78px; /* 54px */
  margin-bottom: 40px;
}
.row_one,
.row_two {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.row_one {
  margin-left: 24px;
  margin-right: 16px;
}

.row_two {
  margin: 0 16px 0 16px;
}

.row_three {
  margin-right: 24px;
  margin-left: 16px;
}

.img {
  margin-bottom: 32px;
}

.project_info {
  padding: 0 24px;
}

.img_info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.info_btn {
  margin-left: 8px;
  font-family: "Compagnon Roman";
  background-color: transparent;
  border: 1px solid #403537;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
